// calendar primeng
.calendar {
	text-align: center;
}

p-calendar,
.p-calendar {
	display: block !important;
	width: 100%;
	max-width: 90vw;
}

.p-datepicker {
	padding: 0 !important;
	margin: 1em auto;
	border: 0;

	tbody,
	thead,
	tfoot tr,
	td,
	th {
		border: 0 !important;
		text-align: center;
	}

	.p-datepicker-buttonbar {
		.p-button {
			border: solid 1px $d-primary !important;
		}
	}
	.p-datepicker-header {
		padding: 0 !important;
		button.p-datepicker-prev,
		button.p-datepicker-next {
			border: solid 1px $d-primary !important;
			border-radius: 0.25rem !important;
			width: 70px;
			display: inline-block;
			height: 52px;
			text-align: center;
		}
	}

	.p-datepicker-title,
	.p-datepicker-calendar thead tr th span {
		color: $d-primary-intense;
		text-align: center;
		width: 100%;
		display: block;
	}
	.p-datepicker-calendar thead tr th span {
		color: $d-primary;
		font-weight: normal;
	}

	p-button {
		color: $primary_color !important;
		&:hover {
			color: $white !important;
			background: $secondary_color !important;
			border-color: $secondary_color !important;
		}
	}

	.p-datepicker-buttonbar {
		margin-top: 0.5em;

		button {
			min-width: 5em;
		}
	}

	.p-datepicker-month {
		margin-right: 1em;
		color: $d-primary-intense;
	}

	.p-datepicker-weeknumber span {
		border-right: 1px solid $primary_color;
	}

	.p-datepicker-today span {
		font-weight: bold;
		border: solid 3px $primary_color !important;
		background: $white;
	}

	.p-datepicker-calendar {
		td {
			width: $cell-size-datepicker;
			padding: 0.15rem 0.25rem;
		}

		td span,
		.p-ripple {
			margin: 0;
			padding: 0.25em;
			width: $cell-size-datepicker;
			height: $cell-size-datepicker;
			transition: all ease 0.15s;
			background: $white;
			border: solid 1px $primary_color;
			color: $primary_color;

			&:hover {
				background: $primary_color !important;
				color: $white;
				transition: all ease 0.2s;
			}
			&:focus {
				@extend .outlined;
			}

			&.p-disabled {
				@extend .striked-background;
			}
		}
	}

	table td > span {
		border-radius: 0.25em;
	}

	.p-highlight {
		background: $primary_color !important;
		color: $white !important;
	}

	.p-disabled {
		background: $d-grey;
		color: $grey;
	}

	.p-datepicker-other-month {
		color: white;
	}

	// weekend days
	tr {
		background: $white;
	}
	tr > td {
		background: $white;
		&:nth-of-type(6),
		&:nth-of-type(7) {
			//border-left: 1px solid $border-color;
			//background: $bg-grey;
		}
	}
}

.p-datepicker-buttonbar {
	.p-button {
		width: 50%;
	}
}

.p-datepicker-header,
.p-datepicker .p-datepicker-buttonbar {
	border: 0 !important;
}
